html, body, pre, code, kbd, samp {
  font-family: 'Press Start 2P', cursive;;
}

body{
  margin: 0;
  padding: 0;

}

.App{

    height: 100vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

button{
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 4px !important;
  
}

@keyframes pulse {
  0%  {opacity: 0; }
  50% {  opacity: 0.5; }
  80%{opacity: 0.8;}
  90%{opacity: 0.9;}
  100% { opacity: 1; }
}

.links-container-two{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white !important;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.links-container-two a {
  font-size: 50px;
  align-self: center;
  cursor: pointer;
  margin-right: 30px;
  color: white !important;
}

.links-container-one{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.links-container-one a {
  
  align-self: center;
  cursor: pointer;
  margin-right: 20px;

}

.number-style{
  font-size: 15px;
}

.error-text-style{
  text-transform: uppercase;
}

.nes-btn{
  padding: 0 51px;
}